/* GENERAL STYLING */
:root {
  --standard-orange: #f98e50;
  --vintage-cream: #f5d5af;
  --shadow-brown: #7a6a57;
  --slate-gray: #24201a;
}

#contact-form {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;

    background-color: var(--slate-gray);
    padding: 30px;
    border-radius: 20px;
}

#contact-form p {
    font-family: 'Roboto Mono';
    color: var(--vintage-cream);
}

#subject-box, #email-box {
    font-family: 'Roboto Mono';
    background-color: var(--vintage-cream);
    border-radius: 10px;

    min-height: 20px;
    max-height: 20px;

    min-width: 95%;
    max-width: 95%;

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 5px;
}

#description-box {
    font-family: 'Roboto Mono';
    background-color: var(--vintage-cream);
    border-radius: 10px;

    width: 100%;

    min-width: 95%;
    max-width: 95%;

    min-height: 100px;
    max-height: 100px;


    margin-top: 10px;
    margin-bottom: 10px;

    padding: 5px;
}

.call-to-action h6 {
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 20px;
    font-weight: normal;

    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--standard-orange);
}

.submit-button {
    margin-top: 10px;
    display: flex;
    justify-content:right;
}

#submitButton {
    font-family: 'Roboto Mono';
    font-weight: bold;
    /*color: var(--standard-orange);*/
    background-color: var(--standard-orange);
    border-radius: 10px;

    margin-right: 0px;
    padding: 10px;

}

.radio-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.radio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 10px;
}

.checkbox {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
}
/*checkbox*/
#subscribe {
    margin-top: 5px;
    margin-left: 20px;
}

@media (max-width:1000px) {
    #contact-form {
        display: none;
    }
}