:root {
    --standard-orange: #f98e50;
    --vintage-cream: #f5d5af; 
 }

.icon-box {
    /* background-color: var(--standard-orange); */
    background-color: var(--shadow-brown);
    /* background-color: blue; */
    padding: 20px; 
  
    margin: 10px; 
    width: 40%; 
    flex-basis: 40%; 
  
    border-radius: 10px; 
  
    justify-content: center; 
    align-items: center;

    /* width: 100%; */
}

.icon-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10px;

    justify-content: center; 
}

.skill-logo-title {
    /* background-color: var(--standard-orange); */
    /* background-color: var(--vintage-cream); */
  
    padding: 10px; 
    border-radius: 30px; 
    margin-bottom: 30px; 
  
    /* border: solid var(--vintage-cream) 2px;  */
  
    /* width: 50%; */
}
  
.skill-logo-title #skillsTitle{
    color: var(--vintage-cream);
    /* color: var(--standard-orange); */
  
    text-align: center;
}

.icon-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 

    gap: 60px;
    width: 80%;

    margin-bottom: 20px; 
}

.icon-row img {
    flex: 1; /* Allow icons to equally share the space */
    max-width: 50px; /* Limit the maximum width of the icons */
    margin: 0 2%; /* Adjust the margin between icons */
}

a img {
    text-decoration: none !important;
    color: var(--standard-orange);
  }

@media (max-width:1000px) {
  .icon-box {
    flex-basis:100%;
  }
}