:root {
    --standard-orange: #f98e50;
    --vintage-cream: #f5d5af; 
 }

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 2.5%; */
    /* margin-top: -2.5%; */

    /* gap: 10px; */
    width: 100%;
}
 .icon-box {
    /* background-color: var(--standard-orange); */
    background-color: var(--shadow-brown);
    background-color: var(--slate-gray);

    /* background-color: blue; */
    padding: 5%; 
  
 
    /* width: 30%;  */
    flex-basis: 100%; 
  
    /* border-radius: 5%;  */
  
    justify-content: center; 
    align-items: center;

    /* width: 100%; */
    /* margin-top: 3%; */
}

.icon-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    /* padding: 2.5%; */
    /* margin-top: 10px; */

    justify-content: center; 
    align-items: center;

    gap: 40px;
}

.skill-logo-title {
    /* background-color: var(--standard-orange); */
    /* background-color: var(--vintage-cream); */
  
    /* padding: 10px;  */

    border-radius: 30px; 
    margin-bottom: 30px; 
  
    /* border: solid var(--vintage-cream) 2px;  */
  
    /* width: 50%; */
}

.icon-row {
    display: flex;

    flex-direction: row;

    justify-content: center;
    /* flex-wrap: wrap;  */

    gap: 30%;
    width: 80%;

    margin-bottom: 20px; 
}

.icon-row p {
    font-family: 'Roboto Mono';

    color: var(--vintage-cream);
    color: #dabd9a;
    font-weight: medium;


    text-align: left;

    width: 20%;
}

.icon-row #orange {
    color: var(--standard-orange);
    font-weight: medium;
}

.icon-row img {
    flex: 1; /* Allow icons to equally share the space */
    max-width: 50px; /* Limit the maximum width of the icons */
    margin: 0 2%; /* Adjust the margin between icons */
}

a img {
    text-decoration: none !important;
    color: var(--standard-orange);
  }

@media (max-width:1000px) {
    .icon-wrapper {
        flex-direction: column;
    }

    .icon-box {
    flex-basis:100%;
    width: 100%;
    margin: 0%;
    padding: 10%;
  }

}