:root {
    --standard-orange: #f98e50;
    --vintage-cream: #f5d5af; 
    --shadow-brown: #7a6a57;
    --slate-gray: #24201a;
}
/* PORTFOLIO */
.portfolio-body {
    margin-right: 10%; 
    margin-left: 10%; 
    margin-top: 0px;
    margin-bottom: 30px; 
    
    padding: 20px; 
  
    background-color: var(--vintage-cream);
}

.portfolio-body h1 {
    margin-bottom: 10px;
}

.portfolio-wrapper {
    margin-top: 0px; 
    
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    justify-content: center; /* Keep containers side by side */
  }
.portfolio-container {
    background-color: var(--standard-orange);
    /* padding: 20px;  */
    /* border-radius: 10px;  */
    /* border: solid 4px transparent; */
    border: solid 3px var(--vintage-cream);
    border-radius: 10px;

    overflow: hidden; 
  
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%; 
  
    justify-content: center; 
    align-items: center;
  
  
    padding: 18px; 

    /* transition: border 0.3s ease;  */

}
.portfolio-container:hover {
    /* background-image: linear-gradient(45deg, var(--standard-orange), #F29D6C, var(--standard-orange)); */
    transition: 0.5s ease-in-out;

    /* border: solid 4px var(--vintage-cream); */
    /* border: solid 3px var(--standard-orange); */
    border: solid 3px var(--shadow-brown);

    /* border: solid 4px black; */

    background-color: var(--shadow-brown);

    cursor: default; 
}

.portfolio-container:hover #portfolio {
    transform: scale(1.05); /* Adjust scale value as needed for zoom level */
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.portfolio-container p {
    color: var(--vintage-cream);
    /* color: var(--slate-gray); */
    font-family: 'Bebas Neue';
    font-size: 30px; 
}

#portfolio {
    width: 100%;
    margin-bottom: 20px; 

    border-radius: 10px;
}

.text-overlay {
    /* move text down by 30px */
    transform: translateY(-800%);
}


@media (max-width:1000px) {
    .portfolio-container {
        flex-basis: 40%;
    }    
}