:root {
    --standard-orange: #f98e50;
    --vintage-cream: #f5d5af; 
    --cream-shadow: #dabd9a;
    --shadow-brown: #7a6a57;
    --slate-gray: #24201a;
}
.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
  }
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn7 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
.portfolio-frame {
    /* width: 100; */
    /* height: calc(100vh - 90px); */
    background-color: var(--cream-shadow);

    display: flex;
    flex-direction: row;

    margin-top: 40px;
}
.menu-bar {
    margin-top: 2.5%;
    padding: 2.5%;

    flex-basis: 15%;

    display: flex;
    flex-direction: row;

    /* background-color: var(--shadow-brown); */
}
.menu-bar .left-line {
    width: 5px;
    height: 100px;
    margin-top: 10%;

    border-radius: 10px;

    background-color: var(--shadow-brown);
    /* background-color: var(--standard-orange); */

}
.menu-bar .menu-box {
    /* position: absolute */

    width: 80%;
    /* background-color: var(--shadow-brown); */
    /* background-color: var(--standard-orange); */
    /* background-color: var(--vintage-cream); */
    /* background-color: var(--slate-gray); */

    /* border: solid var(--standard-orange) 3px; */
    /* border: solid var(--shadow-brown) 3px; */




    border-radius: 20px;

    padding: 10%;
}
.menu-bar p {
    font-size: 110%;
    color: var(--shadow-brown);
    /* color: var(--cream-shadow); */
    /* color: var(--slate-gray); */


    margin-bottom: 15%;

    /* animation: fadeIn 1s ease-in-out forwards; */
    /* opacity: 0; */
}
.menu-bar p:hover {
    color: var(--vintage-cream);
    /* font-weight: bold; */
}
.menu-bar .currPage {
    /* color: var(--standard-orange); */
    /* color: var(--vintage-cream); */

    font-weight: bold;
}
.menu-bar .currPage:hover {
    /* color: var(--standard-orange); */
}
.content-column {
    background-color: var(--vintage-cream);
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5%;
}
.content-column h1 {
    font-family: 'Montserrat';
    /* font-family: 'Roboto Mono'; */

    /* font-weight: lighter; */

    /* position: absolute; */

    /* color: var(--vintage-cream); */
    color: var(--shadow-brown);
    /* color: var(--standard-orange); */

    /* background-color: var(--standard-orange); */
    /* background-color: var(--slate-gray); */

    border-radius: 100px;


    /* margin-right: 55%; */
    margin-bottom: 40px;

    /* transform: rotate(-90deg); */

    padding: 20px;

}
.content-column #heroImage {
    width: 100%;
    border-radius: 20px;

    border: solid var(--vintage-cream) 3px;

    transition: opacity 1s;
    margin-bottom: 5%;

    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;


}
.content-column #heroImage:hover {
    /* border: solid var(--standard-orange) 3px; */
}
.content-column-wrapper {
    background-color: #eccda8;
    /* border: solid var(--standard-orange) 3px; */

    /* background-color: var(--standard-orange); */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    border-radius: 20px;

    padding: 40px;
}

.content-column .description-box {
    width: 90%;
    /* margin-top: 5%; */
    padding: 5%;

    /* background-color: var(--shadow-brown); */
    /* border: solid var(--shadow-brown) 3px; */

    /* background-color: var(--standard-orange); */
    border-radius: 20px;
}

.description-box p {
    color: var(--shadow-brown);
    /* color: var(--cream-shadow); */
    font-size: 100%;
}
.description-box a {
    text-decoration: none !important;
}
.description-box #linkText {
    text-align: center;
    font-weight: bold;
    margin-top: 5%;

    /* color: #fde3c4; */
}
.right-gutter {
    flex-basis: 10%;
    padding: 5%;

    display: flex;
    flex-direction: column;
}
#iconLogo {
    width: 100%;
    margin-bottom: 0%;
    margin-top: 0%;

    border-radius: 50%;

}
/* #iconCaption {
    font-size: 110%;
    color: var(--shadow-brown);
    text-align: center;
} */

@media (max-width:1000px) {
    .portfolio-frame {
        flex-direction: column;
    }

    .menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-bar p {
        font-size: 200%;
        margin-bottom: 2%;
        margin-right: 50px;

    }
    .content-column {
        flex-basis: 80%;
    }
    .right-gutter {
        display: none;
    }
}