/* STYLES.CSS */

/* GENERAL STYLING */
:root {
  --standard-orange: #f98e50;
  --vintage-cream: #f5d5af; 
  --shadow-brown: #7a6a57;
  --slate-gray: #24201a;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--vintage-cream);
}

html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* BODY */
.body {
  margin-right: 15%; 
  margin-left: 15%; 

  margin-top: 0px;
  padding: 20px; 

  background-color: var(--vintage-cream);
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center; /* Keep containers side by side */
}

.pumajack-container {
  background-color: #7a6a57;
  background-color: var(--standard-orange);
  /* background-color: #f5d5af; */

  padding: 20px;
  margin: 10px;
  width: 40%;
  flex-basis: 40%;
  /* border-radius: 10px; */

  display: flex; /* Add this to make it a flex container */
  justify-content: center;
  align-items: top;
}
.orange-container {
  background-color: var(--standard-orange);
  /* background-color: blue; */
  padding: 20px; 

  margin: 10px; 
  width: 40%; 
  flex-basis: 40%; 

  border-radius: 10px; 

  justify-content: center; 
  align-items: center;

  /* position: relative;  */
}
.orange-border-container {
  /* background-color: var(--standard-orange); */
  padding: 20px; 

  margin: 10px; 
  width: 40%; 
  flex-basis: 40%; 
  justify-content: center;

  /* border: 10px solid var(--standard-orange); */
  border-radius: 10px; 
}
.transparent-container {
  /* background-color: var(--standard-orange); */
  padding: 20px; 

  margin: 10px; 
  width: 40%; 
  flex-basis: 40%; 

  justify-content: center;
}

h1 {
  font-family: 'Roboto Mono';
  text-align: center; 

  margin-top: 5px; 
  margin-bottom: 0px; 

  color: var(--slate-gray);
  /* color: var(--standard-orange); */
  /* color: black;  */

  user-select: none;
}

#asterisk {
  margin-top: 60px; 
}

h2 {
  font-family: 'Roboto Mono';
  color: var(--vintage-cream);

  margin-top: 0px; 

  user-select: none;
}

p {
  font-family: 'Roboto Mono';
  color: var(--slate-gray);
  text-align: left; 
  /* color: var(--vintage-cream); */
  /* font-weight:regular; */

  margin: 0px; 
  padding: 0px; 

  user-select: none;
}

#bigtext {
  padding: 0px; 

  margin-top: 10px; 
  margin-left: 20px; 
  width: 100%; 
  /* flex-basis: 100%;  */

  user-select: none; /* Disable text selection */
  -webkit-user-drag: none; /* For Safari */
}
#pumajack {
  width: 100%;
  margin-bottom: 20px; 

  user-select: none; /* Disable text selection */
  -webkit-user-drag: none; /* For Safari */
}

.link-container {
  background-color: var(--slate-gray);
  /* background-color: rgb(58, 58, 58);  */
  padding: 15px; 
  border-radius: 30px; 

  /* margin-top: 20px;  */
}

@keyframes rainbow {
  0% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.link-border {
  /* position: absolute; */
  /* bottom: 20px; */
  /* width: 250px;  */

  margin-top: 30px; 
  margin-left: auto; 
  margin-right: auto; 
  
  padding: 2px; 
  background-color: var(--shadow-brown); 
  border-radius: 30px; 

  /* margin-top: 200px; */
  /* margin-top: 20%; */
  transition: background-color 0.3s ease; 
}

.link-border:hover {
  padding: 2px; 
  /* background-color: white;  */
  /* border-radius: 10px;  */

  /* margin-top: 1;  */

  background: linear-gradient(to left, rgb(255, 103, 103), orange, yellow, rgb(42, 255, 42), rgb(104, 104, 255), rgb(192, 103, 255), rgb(250, 49, 49), rgb(255, 103, 103), yellow);
  background-size: 400% auto;
  color: transparent;
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  animation: rainbow 3s linear infinite;

  cursor: grab;
  transition: background-color 0.3s ease; 
}

#portfolio-link {
  /* margin-top: 20px; */
  font-weight: bold;

  /* text-decoration: none !important; */

  /* background: var(--vintage-cream); */
  background-clip: text;
  color: var(--vintage-cream);
  color: var(--standard-orange);
  /* color: var(--shadow-brown); */

  cursor: grab; 
}

.link-border:hover #portfolio-link {
  /* text-align: center;  */

  /* margin-top: 20px; */
  font-weight: bold;
  /* color: var(--vintage-cream); */

  cursor: grab; 
  /* Create a mirrored gradient */
  background: linear-gradient(to left, rgb(255, 103, 103), orange, yellow, rgb(42, 255, 42), rgb(104, 104, 255), rgb(192, 103, 255), rgb(250, 49, 49), rgb(255, 103, 103), yellow);
  background-size: 400% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
}

.footer {
  background-color: var(--standard-orange);
  background-color: var(--slate-gray);
  height: 50px; 
  padding: 20px; 

  user-select: none;

}

.footer p {
  color: var(--vintage-cream);
}

@media (max-width:1000px) {
  .body {
    margin-right: 0%; 
    margin-left: 0%; 
  }

  .orange-container {
    flex-basis:100%;
  }
  .pumajack-container {
    /* background-color: var(--standard-orange); */
    padding: 20px;
    margin: 10px;
    width: 100%;
    flex-basis: 100%;

  }
  .link-border {
    margin-top: 40px; 
  }
  .transparent-container {
    flex-basis: 100%;
  }
  .link-border {
    padding: 2px; 
    /* background-color: white;  */
    /* border-radius: 10px;  */
  
    /* margin-top: 1;  */
  
    background: linear-gradient(to left, rgb(255, 103, 103), orange, yellow, rgb(42, 255, 42), rgb(104, 104, 255), rgb(192, 103, 255), rgb(250, 49, 49), rgb(255, 103, 103), yellow);
    background-size: 400% auto;
    color: transparent;
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    animation: rainbow 3s linear infinite;
  
    cursor: grab;
    transition: background-color 0.3s ease; 
  }

  #portfolio-link {
    padding: 2px; 
    /* background-color: white;  */
    /* border-radius: 10px;  */
  
    /* margin-top: 1;  */
  
    background: linear-gradient(to left, rgb(255, 103, 103), orange, yellow, rgb(42, 255, 42), rgb(104, 104, 255), rgb(192, 103, 255), rgb(250, 49, 49), rgb(255, 103, 103), yellow);
    background-size: 400% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s linear infinite;
  
    cursor: grab;
    transition: background-color 0.3s ease; 
  }
  
}

